.create {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

.create .errors {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 3px;
  color: #ff0000;
  display: block;
  min-height: 20px;
}
.create button {
  cursor: pointer;
}

.create .button-submit {
  display: flex;
  justify-content: center;
}


.create form {
  background-color: #fab566d2;
  padding: 0 40px;
  padding-top: 30px;
  min-width: 300px;
  position: relative;
}

.create form .inputs {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: grid;
}

.create h1 {
  text-align: center;
}

@media (min-width: 600px) {
  .create form {
    border-radius: 20px;
    width: 100%;
    height: auto;
  }
  .create form .inputs .two-inputs-container {
    padding: 5px;
  }
  .create form .inputs .two-inputs-container .two-inputs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 10px;
  }
}

@media (min-width: 900px) {
  .create form {
    max-width: 900px;
    margin: 0 auto;
  }
}
