.containerFilter {
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
  
}

.selectTemp {
  border: 2px solid #ffffff;
  width: 100%;
  padding: 5px 10px;
  z-index: 6;
  margin-top: 15px;
  background-color: #fad5a4;
}
.selectTemp-text {
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  text-transform: uppercase;
  /* background-color: #fad5a4; */
}

.selecTemp-content {
  max-height: 200px;
  overflow: hidden;

}

.selecTemp-content .search {
  border: 1px solid #d7d7d7;
  margin: 10px 10px 20px 0;
  border-bottom: none;
  position: relative;
}
.selecTemp-content .search input {
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  padding: 5px 22px 5px 8px;
  width: 100%;
  margin-top: 1px;
}

.selectTemp-filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: inherit;
}

.selectTemp-filters-text {
  display: flex;
  gap: 5px;
}
.checkBox {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.active .checkBox::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  width: 3px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #000000;
  transform: translate(-50%, -50%) rotate(45deg);
}
.selectTemp-filters-text.active .checkBox {
  border: 2px solid #000000;
}

.btns {
  margin: 20px 0 10px 0;
  padding: 5px 0;
  width: 100%;
}
/* Order By */
.filter-groups {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filter-group {
  display: flex;
  flex-direction: column;

}

.filter-group select {
  background-color: #fad5a4;
  border-radius: 5px;
  
}

@media (min-width: 450px) {
  .selectTemp-filters {

    grid-template-columns: 1fr 1fr 1fr;

  }

}

@media (min-width: 700px) {
  .selectTemp-filters {

    grid-template-columns: 1fr 1fr 1fr 1fr;


  }
}

@media (min-width: 900px) {
  .selectTemp-filters {

    grid-template-columns: 1fr;


  }
}




