.containerFilter {
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
  
}

.selectTemp {
  border: 2px solid #ffffff;
  width: 100%;
  padding: 5px 10px;
  z-index: 6;
  margin-top: 15px;
  background-color: #fad5a4;
}
.selectTemp-text {
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  text-transform: uppercase;
  
}

.selecTemp-content {

  overflow: hidden;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.selecTemp-content .search {
  border: 1px solid #d7d7d7;
  margin: 10px 10px 20px 0;
  border-bottom: none;
  position: relative;
}
.selecTemp-content .search input {
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  padding: 5px 22px 5px 8px;
  width: 100%;
  margin-top: 1px;
}

.selectTemp-filters, .box-selected-filters div  {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  overflow: hidden;
  overflow-y: auto;
  min-height: 0px;
  max-height: inherit;
}

.reload-temps {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 2px solid #000000;
  background: url('../../assets/icon/reload.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  cursor: pointer;
}

.selectTemp-filters-text {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.checkBox {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.active .checkBox::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  width: 3px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #000000;
  transform: translate(-50%, -50%) rotate(45deg);
}
.selectTemp-filters-text.active .checkBox {
  border: 2px solid #000000;
}

.btns {
  margin: 20px 0 10px 0;
  padding: 5px 0;
  width: 100%;

}

.btns button {
  cursor: pointer;
}
/* Order By */
.filter-groups {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 0 15px;
}
.filter-group {
  display: flex;
  flex-direction: column;

}

.filter-group select {
  background-color: #fad5a4;
  border-radius: 5px;
  min-width: 115px;
  padding: 5px;
  cursor: pointer;
}

.box-selected-filters {
  background-color: #fad5a4;
  padding: 5px 10px;
}

.box-selected-filters p{
  text-transform: capitalize;
  padding-top: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000000;
}

.box-selected-filters div {
  max-height: 90px;

}

@media (min-width: 450px) {
  .selectTemp-filters {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .filter-group select {
    min-width: 200px;
    padding: 10px;
  }
}

@media (min-width: 700px) {
  .selectTemp-filters {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .filter-group select {
    min-width: 250px;
    padding: 10px;
  }
}

@media (min-width: 900px) {

 .selecTemp-content {
  max-height: 250px;
 } 
  .selectTemp-filters {
    grid-template-columns: 1fr;
    max-height: 150px;
  }
  .filter-group select {
    min-width: 100%;
    padding: 10px;
  }
}




